# FLO RFM
## Task 1 - Understanding and Preparing Data

# Read the flo_data_20K.csv data. Make a copy of the dataframe.

In [1]:
import pandas as pd
import datetime as dt

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
df_ = pd.read_csv("flo_data_20k.csv")

In [4]:
df = df_.copy()

In [5]:
df.head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR]
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,Desktop,Offline,2018-11-18,2021-03-13,2018-11-18,2021-03-13,1.000,2.000,150.870,49.990,[KADIN]
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,Android App,Android App,2020-03-04,2020-10-18,2020-10-18,2020-03-04,3.000,1.000,59.990,315.940,[AKTIFSPOR]
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,Mobile,Offline,2020-05-15,2020-08-12,2020-05-15,2020-08-12,1.000,1.000,49.990,113.640,[COCUK]
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,Android App,Android App,2020-01-23,2021-03-07,2021-03-07,2020-01-25,3.000,2.000,120.480,934.210,"[ERKEK, COCUK, KADIN]"
9,1143f032-440d-11ea-8b43-000d3a38a36f,Mobile,Mobile,2019-07-30,2020-10-04,2020-10-04,2019-07-30,1.000,1.000,69.980,95.980,"[KADIN, AKTIFSPOR]"

In [6]:
df.shape

(19945, 12)

In [7]:
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12'],
      dtype='object')

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.000,3.111,4.226,1.000,1.000,2.000,4.000,200.000
order_num_total_ever_offline,19945.000,1.914,2.063,1.000,1.000,1.000,2.000,109.000
customer_value_total_ever_offline,19945.000,253.923,301.533,10.000,99.990,179.980,319.970,18119.140
customer_value_total_ever_online,19945.000,497.322,832.602,12.990,149.980,286.460,578.440,45220.130

In [9]:
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [10]:
df.dtypes

master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
dtype: object

In [11]:
def check_df(dataframe, head=5):
    print("##################### Shape #####################")
    print(dataframe.shape)

    print("##################### Types #####################")
    print(dataframe.dtypes)

    print("##################### Head #####################")
    print(dataframe.head(head))

    print("##################### Tail #####################")
    print(dataframe.tail(head))

    print("##################### is null? #####################")
    print(dataframe.isnull().sum())

    print("##################### Quantiles #####################")
    print(dataframe.quantile([0, 0.25, 0.50, 0.75, 0.99, 1]).T)
    print(dataframe.describe().T)


check_df(df)

##################### Shape #####################
(19945, 12)
##################### Types #####################
master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
dtype: object
##################### Head #####################
                              master_id order_channel last_order_channel  \
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop

  first_order_date last_order_date last_order_date_online  \
0       2020-10-30      2021-02-26             2021-02-21
1       2017-02-08      2021-02-16             2021-02-16
2       2019-11-27      2020-11-27             2020-11-27
3       2021-01-06      2021-01-17             2021-01-17
4       2019-08-03      2021-03-07             2021-03-07

  last_order_date_offline  order_num_total_ever_online  \
0              2021-02-26                        4.000
1              2020-01-10                       19.000
2              2019-12-01                        3.000
3              2021-01-06                        1.000
4              2019-08-03                        1.000

   order_num_total_ever_offline  customer_value_total_ever_offline  \
0                         1.000                            139.990
1                         2.000                            159.970
2                         2.000                            189.970
3                         1.000                             39.990
4                         1.000                             49.990

   customer_value_total_ever_online       interested_in_categories_12
0                           799.380                           [KADIN]
1                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2                           395.350                    [ERKEK, KADIN]
3                            81.980               [AKTIFCOCUK, COCUK]
4                           159.990                       [AKTIFSPOR]
##################### Tail #####################
                                  master_id order_channel last_order_channel  \
19940  727e2b6e-ddd4-11e9-a848-000d3a38a36f   Android App            Offline
19941  25cd53d4-61bf-11ea-8dd8-000d3a38a36f       Desktop            Desktop
19942  8aea4c2a-d6fc-11e9-93bc-000d3a38a36f       Ios App            Ios App
19943  e50bb46c-ff30-11e9-a5e8-000d3a38a36f   Android App        Android App
19944  740998d2-b1f7-11e9-89fa-000d3a38a36f   Android App        Android App

      first_order_date last_order_date last_order_date_online  \
19940       2019-09-21      2020-07-05             2020-06-05
19941       2020-03-01      2020-12-22             2020-12-22
19942       2019-09-11      2021-05-24             2021-05-24
19943       2019-03-27      2021-02-13             2021-02-13
19944       2019-09-03      2020-06-06             2020-06-06

      last_order_date_offline  order_num_total_ever_online  \
19940              2020-07-05                        1.000
19941              2020-03-01                        1.000
19942              2019-09-11                        2.000
19943              2021-01-08                        1.000
19944              2019-09-03                        1.000

       order_num_total_ever_offline  customer_value_total_ever_offline  \
19940                         2.000                            289.980
19941                         1.000                            150.480
19942                         1.000                            139.980
19943                         5.000                            711.790
19944                         1.000                             39.990

       customer_value_total_ever_online interested_in_categories_12
19940                           111.980          [ERKEK, AKTIFSPOR]
19941                           239.990                 [AKTIFSPOR]
19942                           492.960                 [AKTIFSPOR]
19943                           297.980          [ERKEK, AKTIFSPOR]
19944                           221.980          [KADIN, AKTIFSPOR]
##################### is null? #####################
master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64
##################### Quantiles #####################
                                   0.000   0.250   0.500   0.750    0.990  \
order_num_total_ever_online        1.000   1.000   2.000   4.000   20.000
order_num_total_ever_offline       1.000   1.000   1.000   2.000    7.000
customer_value_total_ever_offline 10.000  99.990 179.980 319.970 1219.947
customer_value_total_ever_online  12.990 149.980 286.460 578.440 3143.810

                                      1.000
order_num_total_ever_online         200.000
order_num_total_ever_offline        109.000
customer_value_total_ever_offline 18119.140
customer_value_total_ever_online  45220.130
                                      count    mean     std    min     25%  \
order_num_total_ever_online       19945.000   3.111   4.226  1.000   1.000
order_num_total_ever_offline      19945.000   1.914   2.063  1.000   1.000
customer_value_total_ever_offline 19945.000 253.923 301.533 10.000  99.990
customer_value_total_ever_online  19945.000 497.322 832.602 12.990 149.980

                                      50%     75%       max
order_num_total_ever_online         2.000   4.000   200.000
order_num_total_ever_offline        1.000   2.000   109.000
customer_value_total_ever_offline 179.980 319.970 18119.140
customer_value_total_ever_online  286.460 578.440 45220.130

# Omnichannel means that customers shop from both online and offline platforms. Create new variables for each customer's total purchases and spending.

In [12]:
df["total_order_purchases"] = df["order_num_total_ever_offline"] + df["order_num_total_ever_online"] 
df["total_order_purchases"]

0        5.000
1       21.000
2        5.000
3        2.000
4        2.000
         ...
19940    3.000
19941    2.000
19942    3.000
19943    6.000
19944    2.000
Name: total_order_purchases, Length: 19945, dtype: float64

In [13]:
df["total_order_expenditure"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
df["total_order_expenditure"]

0        939.370
1       2013.550
2        585.320
3        121.970
4        209.980
          ...
19940    401.960
19941    390.470
19942    632.940
19943   1009.770
19944    261.970
Name: total_order_expenditure, Length: 19945, dtype: float64

# Examine the variable types. Change the type of variables that express date to date.

In [14]:
dates = ["first_order_date", "last_order_date", "last_order_date_online", "last_order_date_offline"]

In [15]:
df[dates] = df[dates].apply(pd.to_datetime)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  total_order_purchases              19945 non-null  float64
 13  total_order_expenditure            19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

# See the distribution of the number of customers in the shopping channels, the total number of products purchased and total expenditures

In [17]:
df.groupby("order_channel").agg({"total_order_purchases": "sum",
                                "total_order_expenditure": "sum"})

               total_order_purchases  total_order_expenditure
order_channel
Android App                52269.000              7819062.760
Desktop                    10920.000              1610321.460
Ios App                    15351.000              2525999.930
Mobile                     21679.000              3028183.160

# Rank the top 10 customers with the highest revenue

In [18]:
df.groupby("master_id").agg({"total_order_expenditure": "sum"}).sort_values(by="total_order_expenditure", ascending=False).head()

                                      total_order_expenditure
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f                45905.100
d5ef8058-a5c6-11e9-a2fc-000d3a38a36f                36818.290
73fd19aa-9e37-11e9-9897-000d3a38a36f                33918.100
7137a5c0-7aad-11ea-8f20-000d3a38a36f                31227.410
47a642fe-975b-11eb-8c2a-000d3a38a36f                20706.340

# List the top 10 customers with the most orders.

In [19]:
df.groupby("master_id").agg({"total_order_purchases": "sum"}).sort_values(by="total_order_purchases", ascending=False).head()

                                      total_order_purchases
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f                202.000
cba59206-9dd1-11e9-9897-000d3a38a36f                131.000
a57f4302-b1a8-11e9-89fa-000d3a38a36f                111.000
fdbe8304-a7ab-11e9-a2fc-000d3a38a36f                 88.000
329968c6-a0e2-11e9-a2fc-000d3a38a36f                 83.000

# Functionalize the data preparation process

In [20]:
def create_rfm(dataframe, csv=False):
    #VERIYI HAZIRLAMA
    import pandas as pd
    import datetime as dt
    pd.set_option('display.max_columns', None)
    # pd.set_option('display.max_rows', None)
    pd.set_option('display.float_format', lambda x: '%.3f' % x)
    df_ = pd.read_csv("flo_data_20k.csv")
    df = df_.copy()
    df.head(10)
    df.shape
    df.columns
    df.describe().T
    df.isnull().sum()
    df.dtypes
    
    #VERI ICERISINDE HARCAMA VE ALISVERIS SAYISI HESAPLAMALARI
    df["total_order_purchases"] = df["order_num_total_ever_offline"] + df["order_num_total_ever_online"] 
    df["total_order_purchases"]
    df["total_order_expenditure"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
    df["total_order_expenditure"]
    
    #DEGISKEN TIPLERININ DEGISTIRILMESI
    dates = ["first_order_date", "last_order_date", "last_order_date_online", "last_order_date_offline"]
    df[dates] = df[dates].apply(pd.to_datetime)
    df.info()
    
    #ALISVERIS SAYISI VE SATIS HESAPLAMALARI
    df.groupby("order_channel").agg({"total_order_purchases": "sum",
                                "total_order_expenditure": "sum"})
    df.groupby("master_id").agg({"total_order_expenditure": "sum"}).sort_values(by="total_order_expenditure", ascending=False).head()
    df.groupby("master_id").agg({"total_order_purchases": "sum"}).sort_values(by="total_order_purchases", ascending=False).head()
    
    if csv:
        flo_rfm.to_csv("flo_rfm.csv")

    return flo_rfm

# Task 2: Calculating RFM Metrics

## Step 1: Make the definitions of Recency, Frequency and Monetary.
## Step 2: Calculate the Recency, Frequency and Monetary metrics for the customer.
## Step 3: Assign your calculated metrics to a variable named rfm.
## Step 4: Change the names of the metrics you created to recency, frequency and monetary

In [21]:
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_order_purchases,total_order_expenditure
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN],5.000,939.370
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.000,2013.550
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]",5.000,585.320
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]",2.000,121.970
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR],2.000,209.980

In [22]:
df["last_order_date"].max()

Timestamp('2021-05-30 00:00:00')

In [23]:
today_date = dt.datetime(2021, 6, 2)

In [24]:
type(today_date)

datetime.datetime

In [25]:
rfm = df.groupby("master_id").agg({"last_order_date": lambda last_order_date: (today_date - last_order_date.max()).days,
                                   "total_order_purchases": lambda total_order_purchases: total_order_purchases.nunique(),
                                   "total_order_expenditure": lambda total_order_expenditure: total_order_expenditure.sum()})

In [26]:
rfm.head()

,last_order_date,total_order_purchases,total_order_expenditure
master_id,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,11,1.000,776.070
00034aaa-a838-11e9-a2fc-000d3a38a36f,299,1.000,269.470
000be838-85df-11ea-a90b-000d3a38a36f,214,1.000,722.690
000c1fe2-a8b7-11ea-8479-000d3a38a36f,28,1.000,874.160
000f5e3e-9dde-11ea-80cd-000d3a38a36f,21,1.000,1620.330

In [27]:
rfm.columns = ['recency', 'frequency', 'monetary']

In [28]:
rfm.describe().T

              count    mean     std    min     25%     50%     75%       max
recency   19945.000 135.458 103.281  3.000  44.000 112.000 203.000   368.000
frequency 19945.000   1.000   0.000  1.000   1.000   1.000   1.000     1.000
monetary  19945.000 751.244 895.402 44.980 339.980 545.270 897.780 45905.100

In [29]:
rfm = rfm[rfm["monetary"] > 0]

In [30]:
rfm.shape

(19945, 3)

In [31]:
rfm.head()

                                      recency  frequency  monetary
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f       11      1.000   776.070
00034aaa-a838-11e9-a2fc-000d3a38a36f      299      1.000   269.470
000be838-85df-11ea-a90b-000d3a38a36f      214      1.000   722.690
000c1fe2-a8b7-11ea-8479-000d3a38a36f       28      1.000   874.160
000f5e3e-9dde-11ea-80cd-000d3a38a36f       21      1.000  1620.330

## Task 3: Calculation of RF Score

In [ ]:
rfm["recency_score"] = pd.qcut(rfm["recency"], 5, labels=[5, 4, 3, 2, 1])

In [ ]:
rfm["frequency_score"] = pd.qcut(rfm["frequency"].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])

In [ ]:
rfm["monetary_score"] = pd.qcut(rfm["monetary"], 5, labels=[5, 4, 3, 2, 1])

In [ ]:
rfm["RF_SCORE"] = (rfm['recency_score'].astype(str) +
                    rfm['frequency_score'].astype(str))

In [ ]:
rfm.describe().T

## Task 4: Segment Definition of RF Score

In [ ]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [ ]:
rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

In [ ]:
rfm[["segment", "recency", "frequency", "monetary"]].groupby("segment").agg(["mean"]).head(10)

## Cases

### Case 1: FLO incorporates a new women's shoe brand. The product prices of the included brand are above the general customer preferences. For this reason, it is desired to contact the customers in the profile that will be interested in the promotion of the brand and product sales. Those who shop from their loyal customers (champions, loyal_customers) and women category are the customers to be contacted specifically. Save the id numbers of these customers to the csv file

In [ ]:
segment_1 = rfm[(rfm["segment"] == "champions") | (rfm["segment"] == "loyal_customers")]

In [ ]:
segment_1.shape

In [ ]:
segment_2 = df[df["interested_in_categories_12"].str.contains("KADIN")]

In [ ]:
segment_2.shape

In [ ]:
cust_seg = pd.merge(segment_1, segment_2[["interested_in_categories_12", "master_id"]], on="master_id")
cust_seg.head()

In [ ]:
cust_seg.columns

In [ ]:
cust_seg.to_csv("customer_segment_case1.csv")

## Case2: Nearly 40% discount is planned for Men's and Children's products. It is aimed to specifically target customers who are good customers in the past, but who have not shopped for a long time, who are interested in categories related to this discount, who should not be lost, those who are asleep and new customers. Save the ids of the customers in the appropriate profile to the csv file

In [ ]:
seg_1 = rfm[(rfm["segment"] == "about_to_sleep") | (rfm["segment"] == "cant_loose") | (rfm["segment"] == "new_customers")]
seg_1

In [ ]:
seg_1.shape

In [ ]:
seg_2 = df[df["interested_in_categories_12"].str.contains("OCUK | ERKEK")]
seg_2

In [ ]:
seg_2.shape

In [ ]:
cust_seg2 = pd.merge(seg_1, seg_2[["interested_in_categories_12", "master_id"]], on="master_id")
cust_seg2.head()

In [ ]:
cust_seg2.columns

In [ ]:
cust_seg2.to_csv("customer_segment_case2.csv")